.movedown{
  margin-top: 200px;
}
.textbig{
  font-size: 60px;
  display:inline;
}

.third{
  display: none;
}
.noShow{
  display: none;
}
.frontPart{
  background: green;
  color:white;
  margin:10px;
  border: 5px solid;
  border-radius:20px;
  border-color: green;
}
